body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}


.header {
    background-color: #1f2937;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    height: 50vh;
}


.links a {
    color: #e5e7eb;
    text-decoration: none;
}

header {
    color: #f9faf8;
    font-size: 24px;
}

.header-signup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: ;
    
}

#btn {
    background-color: #3882f6;
    color: #e5e7eb;
    
    display: flex;
    align-items: center;
    
    
}

.header-signup p {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;

}

.header-signup h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

h6 {
    color: #f9faf8;
    
    
   

}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 45px;
    width: 100vw;
    bottom: 0;
}